@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-weight: 100;
  text-align: center;
  margin: 20px;
}

header h1 {
  font-family: 'Roboto Mono', monospace;
  color: #999;
  font-size: 40px;
  font-weight: 200;
}

.board {
  font-family: 'Roboto Mono', monospace;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* grid-auto-flow: column; */
  gap: 2%;
  width: 500px;
}

.space {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3%;
  background-color: #1c1c1c;
  color: #999;
  transition: 0.1s;
  overflow: hidden;
}

.space p {
  font-size: 6em;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.space::before {
  content: '';
  float: left;
  padding-top: 100%;
}

.space:hover {
  background-color: #333;
}

.space.taken:hover {
  background-color: #1c1c1c;
}

.message-container {
  font-weight: 100;
  text-align: center;
  margin: 20px;
}

.message {
  font-family: 'Roboto Mono', monospace;
  color: #999;
  font-size: 24px;
  font-weight: 200;
}

.win-X {
  color: lime;
}

.win-O {
  color: fuchsia;
}

@media screen and (max-width: 650px) {
  .board {
    width: 400px;
  }
  .space p {
    font-size: 4em;
  }
}

@media screen and (max-width: 500px) {
  .board {
    width: 300px;
  }
  .space p {
    font-size: 3em;
  }
}