@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Roboto Mono', monospace;
}

label p {
  display: inline-block;
  margin: 8px 0;
}

input {
  padding: 0 10px;
  background-color: transparent;
  height: 40px;
  width: 60%;
  border: 2px solid #999;
  border-radius: 5px;
  color: #999;
  font-family: 'Roboto Mono', monospace;
}

button {
  font-family: 'Roboto Mono', monospace;
  padding: 0 10px;
  margin-bottom: 20px;
  width: auto;
  height: 40px;
  background-color: transparent;
  color: #999;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
}

button:hover {
  background-color: #999;
  color: #000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curtain {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto; /* scroll if overflow */
  background-color: #000;
}

.splash {
  color: #999;
  border: 4px solid #999;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  /* display: flex;
  flex-direction: column; */
}

.splash h3 {
  margin: 20px 0px 40px;
}

.splash-input {
  margin-bottom: 20px;
}

.start-button {
  margin-top: 20px;
}

header {
  font-weight: 100;
  text-align: center;
  margin: 20px;
}

header h1 {
  color: #999;
  font-size: 40px;
  font-weight: 200;
}

.board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2%;
  width: 500px;
}

.space {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3%;
  background-color: #1c1c1c;
  color: #999;
  transition: 0.1s;
  overflow: hidden;
}

.space p {
  font-size: 6em;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.space::before {
  content: '';
  float: left;
  padding-top: 100%;
}

.space:hover {
  background-color: #333;
}

.space.taken:hover {
  background-color: #1c1c1c;
}

.message-container {
  font-weight: 100;
  text-align: center;
  margin: 20px;
}

.message {
  color: #999;
  font-size: 24px;
  font-weight: 200;
}

.new-game-button {
  border: none;
  width: auto;
}

.rematch-button {
  margin-left: auto;
  margin-right: auto;
}

.rematch-button,
.new-game-button {
  display: none;
}

.rematch-button.visible,
.new-game-button.visible {
  display: block;
}

.win-X {
  color: lime;
}

.win-O {
  color: fuchsia;
}

@media screen and (max-width: 650px) {
  .board {
    width: 400px;
  }
  .space p {
    font-size: 4em;
  }
  input {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .board {
    width: 300px;
  }
  .space p {
    font-size: 3em;
  }
}