@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-weight: 100;
  text-align: center;
  margin: 40px;
}

header h1 {
  color: #1c1c1c;
  font-family: 'Roboto Mono', monospace;
  font-size: 48px;
  font-weight: 200;
}

.board {

  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2%;
  width: 90%;
  max-width: 550px;
}

.space {
  border-radius: 3%;
  background-color: #1c1c1c;
  transition: 0.1s;
}

.space::before {
  content: '';
  float: left;
  padding-top: 100%;
}

.space:hover {
  background-color: #333;
}